p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  box-sizing: border-box;
  padding: 10px 20px;

  height: 100px;
  border-bottom: 1px solid #cfc9c9;

  overflow: hidden;
  position: relative;

  .ImgURL {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: block;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgb(140, 209, 147);
      border: 2px solid white;
    }
  }

  p {
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90px;

    span {
      display: block;
      font-size: 12px;
    }
  }

  .CountImg {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .CountImg:hover {
    cursor: pointer;
    background-color: rgb(241, 245, 249);
  }
}

.searchInput {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);

  input {
    background-image: url(../img/搜索.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px 30px;
    width: 90%;
    height: 40px;
    border-radius: 12px;
    padding-left: 40px;
    font-size: 16px;
    border: none;
    background-color: rgb(241, 245, 249);
  }

  input:focus {
    outline: 1px solid plum;
  }
}

.ulLI {
  width: 100%;

  box-sizing: border-box;
}

.ulLI li {
  display: inline-block;
  width: 80px;
  height: 80px;
  //   box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.1);
  //   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-left: 15px;
  text-align: center;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.ulLI li:hover {
  box-shadow: 2px 2px 2px 2px rgb(241, 245, 249);
  background-color: rgb(241, 245, 249);
}

.hint {
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;

  color: gray;

  .hint-left {
    float: left;
  }

  .hint-right {
    float: right;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.chatinformation {
  width: 100%;
  height: 500px;
  overflow-y: auto;

  .informationDetails {
    width: 100%;
    height: 80px;
    background-color: rgb(241, 245, 249);
    cursor: pointer;
    border-radius: 12px;
    margin-top: 2px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: block;
      float: left;
      margin: 15px;
    }

    p {
      display: inline-block;
      line-height: 25px;
      margin-top: 15px;

      span {
        display: block;
        font-size: 14px;
      }
    }

    .time {
      font-size: 12px;

      float: right;
      margin-top: 30px;
      margin-right: 10px;
    }
  }

  .informationDetails:hover {
    //用户悬停聊天信息，颜色变换
    background-color: rgb(79, 69, 229);
    color: aliceblue;
  }
}

.endExit {
  border-radius: 12px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px 0;
  margin-top: 10px;

  img {
    width: 30px;
    height: 30px;
    display: block;

    margin-left: 10px;
  }

  .textMEssage {
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 12px;
    transform: translateY(-50%);
  }
}

.endExit:hover {
  cursor: pointer;
  background-color: rgb(241, 245, 249);
  color: red;
}