p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

// 左侧栏容器 - 使用 flex 布局
.leftH {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 100px;
  border-bottom: 1px solid #cfc9c9;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;

  .ImgURL {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: block;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgb(140, 209, 147);
      border: 2px solid white;
    }
  }

  p {
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90px;

    span {
      display: block;
      font-size: 12px;
    }
  }

  .CountImg {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .CountImg:hover {
    cursor: pointer;
    background-color: rgb(241, 245, 249);
  }
}

.searchInput {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  flex-shrink: 0;

  input {
    background-image: url(../img/搜索.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px 30px;
    width: 90%;
    height: 40px;
    border-radius: 12px;
    padding-left: 40px;
    font-size: 1rem;
    border: none;
    background-color: rgb(241, 245, 249);
  }

  input:focus {
    outline: 1px solid plum;
  }
}

.ulLI {
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
}

.ulLI li {
  display: inline-block;
  width: 70px;
  height: 80px;
  border-radius: 12px;
  margin-left: 15px;
  text-align: center;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.ulLI li:hover {
  box-shadow: 2px 2px 2px 2px rgb(241, 245, 249);
  background-color: rgb(241, 245, 249);
}

.hint {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  color: gray;
  flex-shrink: 0;

  .hint-left {
    float: left;
  }

  .hint-right {
    float: right;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

// 聊天列表 - 使用 flex: 1 填充剩余空间
.chatinformation {
  width: 100%;
  flex: 1; // 占据剩余空间
  min-height: 0; // 允许正常收缩
  overflow-y: auto;

  // 自定义滚动条
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px;

    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }
  }

  .informationDetails {
    width: 100%;
    height: 80px;
    background-color: rgb(241, 245, 249);
    cursor: pointer;
    border-radius: 12px;
    margin-top: 2px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: block;
      float: left;
      margin: 15px;
    }

    p {
      display: inline-block;
      line-height: 25px;
      margin-top: 15px;

      span {
        display: block;
        font-size: 14px;
      }
    }

    .time {
      font-size: 12px;
      float: right;
      margin-top: 30px;
      margin-right: 10px;
    }
  }

  .informationDetails:hover {
    background-color: rgb(79, 69, 229);
    color: aliceblue;
  }
}

.endExit {
  border-radius: 12px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px 0;
  margin-top: 10px;
  flex-shrink: 0;

  img {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 10px;
  }

  .textMEssage {
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 12px;
    transform: translateY(-50%);
  }
}

.endExit:hover {
  cursor: pointer;
  background-color: rgb(241, 245, 249);
  color: red;
}
