/* .title {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  overflow: visible;
} */
